body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background: #f4f4f4;
}

.container {
  width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#noResult {
  display: none;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  color: red;
}
