body {
  background: #f8f9fa;
  padding: 40px;
  font-family: Georgia;
}
.content {
  background: white;
  padding: 20px;
  column-count: 3;
  column-gap: 40px;
}
h1 {
  column-span: all;
  text-align: center;
  font-size: 2em;
}
.float-img {
  float: left;
  margin: 10px;
  border-radius: 10px;
}
p {
  text-align: justify;
}
