body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  background: #f2f2f2;
}

.dropdown {
  position: relative;
  width: 200px;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.options {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 5px;
}

.options .opt {
  padding: 10px;
  cursor: pointer;
}

.options .opt:hover {
  background: #eee;
}
