body {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.err {
  color: red;
  height: 18px;
  font-size: 13px;
}

button {
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

#success {
  margin-top: 15px;
  font-size: 16px;
  color: green;
  text-align: center;
}
